{% extends 'base.html'%}
{%block title%} Home {%endblock title%}
{%block body%}
<style>
  .about{
  color:white;
  }
  h1{
  font-size: 50px;
  color: #80ffe5;
font-family:verdana;
  }
  .left{
     padding-top: 150px;
    height: 100%;
  width: 50%;
  }
</style>
<div class="about">
  <div class="left">
      <h1>MY, Myself and I</h1>
  <p>

I am a highly motivated individual with a strong passion for technology and its applications in the world. As a computer science student, I have developed a deep understanding of programming, algorithms, and data structures. I enjoy tackling complex problems and working on projects that challenge me to learn and grow.
</p>
<p>
My technical skills are centered around web development, Python, C/C++, and DSA. I am proficient in React, JavaScript, Bootstrap, jQuery, HTML, CSS, Git, and MySQL. I also have experience working with Linux, Oracle VM, and WordPress. I am a goal-oriented team player who is always eager to learn new technologies and adapt to changing environments.
</p>
<p>

In my academic and professional journey, I have achieved several significant milestones. I was the winner of the SIH 2022 competition, a finalist in UIA 2022, and published a paper on skin disease detection using CNN. These accomplishments have not only boosted my confidence but also validated my hard work and dedication towards my goals. I am excited about the future and the opportunities that lie ahead.</p>
  </div>
  <div class="right"></div>

</div>


{%endblock body%}